<div class="container text-white my-5">

    @{
        ViewBag.Title = "About";
    }
    <h2>@ViewBag.Title.</h2>


    <p>This is a simple application to create and manage small notes that a user may want to access later.</p>
</div>