
<div class="container text-white my-5">
    @{
        ViewBag.Title = "Contact";
    }
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        Adam Woerz<br />
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com" class="link-light">Support@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com" class="link-light">Marketing@example.com</a>
    </address>
</div>