@{
    ViewBag.Title = "Home Page";
}

<style>
    .big-ol-div {
        min-height: 100vh;
        width: 100%;
        background-image: linear-gradient(45deg, #e66465, #9198e5);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .custom-button-text {
        font-size: 20px;
    }
</style>

<div class="big-ol-div">
    <h1>Check out our sweet notes at the following link!</h1>
    <a class="custom-button-text btn btn-primary" href="../note">Notes</a>
</div>